<h1 id="name-of-style-1">&lt;name of style&gt;</h1>
<p>Includes:</p>
<ul class="task-list">
<li><label><input type="checkbox" />CSS</label></li>
<li><label><input type="checkbox" />JAVASCRIPT</label></li>
</ul>
<p>Available as:</p>
<ul class="task-list">
<li><label><input type="checkbox" />CSS FILE</label></li>
<li><label><input type="checkbox" />JS FILE</label></li>
<li><label><input type="checkbox" />SETUPFILE</label></li>
</ul>
<h1 id="lists">Lists</h1>
<h2 id="todo-list">Todo List</h2>
<h3 id="first-todo"><span class="todo TODO">TODO</span> First todo</h3>
<h3 id="first-done-with-date"><span class="done DONE">DONE</span> First
Done with Date</h3>
<strong>CLOSED:</strong> <em>[2021-02-18 Thu 10:12]</em>
<h3 id="scheduled"><span class="todo TODO">TODO</span> Scheduled</h3>
<strong>SCHEDULED:</strong> <em>&lt;2021-02-18 Thu&gt;</em>
<h3 id="deadline"><span class="todo TODO">TODO</span> Deadline</h3>
<strong>DEADLINE:</strong> <em>&lt;2021-02-18 Thu&gt;</em>
<h3 id="date"><span class="todo TODO">TODO</span> Date</h3>
<p>&lt;2021-02-18 Thu&gt;</p>
<h2 id="simple-list">Simple list</h2>
<ul>
<li>List item</li>
<li>List item</li>
<li>List item</li>
<li>List item</li>
</ul>
<h2 id="sorted-list">Sorted List</h2>
<ol>
<li>List item</li>
<li>List item</li>
<li>List item</li>
<li>List item</li>
</ol>
<h2 id="checkbox">Checkbox</h2>
<ul class="task-list">
<li><label><input type="checkbox" />List item</label></li>
<li><label><input type="checkbox" checked="" />List item</label></li>
<li><label><input type="checkbox" />List item</label></li>
<li><label><input type="checkbox" checked="" />List item</label></li>
</ul>
<h1 id="headings">Headings</h1>
<h1 id="h1">H1</h1>
<p>H1 Text</p>
<h2 id="h2">H2</h2>
<p>H2 Text</p>
<h3 id="h3">H3</h3>
<p>H3 Text</p>
<ol>
<li><p>H4</p>
<p>H4 Text</p>
<ol>
<li><p>H5</p>
<p>H5 Text</p>
<ol>
<li><p>H6</p>
<p>H6 Text</p>
<ol>
<li><p>H7</p>
<p>H7 Text</p></li>
</ol></li>
</ol></li>
</ol></li>
</ol>
<h1 id="table">Table</h1>
<table>
<thead>
<tr class="header">
<th>a</th>
<th>b</th>
<th>c</th>
<th>d</th>
<th>e</th>
<th>f</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
</tr>
<tr class="even">
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
</tr>
<tr class="odd">
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
</tr>
<tr class="even">
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
</tr>
<tr class="odd">
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
<td>29</td>
</tr>
</tbody>
</table>
<h1 id="blocks">Blocks</h1>
<h2 id="center">Center</h2>
<div class="center">
<p>This is a center block</p>
</div>
<h2 id="comment">Comment</h2>
<h2 id="example">Example</h2>
<pre class="example"><code>This is an example block
</code></pre>
<h2 id="quote">Quote</h2>
<blockquote>
<p>This is a quote block</p>
</blockquote>
<h2 id="verse">Verse</h2>
<div class="line-block">This is a verse block</div>
<h2 id="source-blocks">Source Blocks</h2>
<h3 id="python">Python</h3>
<div class="sourceCode" id="cb2" data-results="output"
data-exports="both"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(<span class="dv">10</span>):</span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>    <span class="bu">print</span>(i)</span></code></pre></div>
<pre class="example"><code>0
1
2
3
4
5
6
7
8
9
</code></pre>
<h3 id="elisp">Elisp</h3>
<div class="sourceCode" id="cb4" data-org-language="emacs-lisp"
data-exports="both"><pre class="sourceCode commonlisp"><code class="sourceCode commonlisp"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a>(<span class="kw">car</span> &#39;(a b c d))</span></code></pre></div>
<pre class="example"><code>a
</code></pre>
